<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SNAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AngularJS Project for School :)">
    <meta name="author" content="SNAP Project">

   <!-- import Js libs and files
   <script src="/snapapp/common/js/util/importJS.js"></script>-->
    <script src="/snapapp/common/js/load.js"></script>
    <script data-main="js/load.js" src="/snapapp/common/lib/requirejs/require-jquery.js"></script>

    <!-- import Css libs and files-->
    <script src="/snapapp/common/js/util/importCSS.js"></script>
    <link rel="stylesheet"  type="text/css" href="css/smartphone.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.mobile-1.1.0.css">
    <link rel="stylesheet"  type="text/css" href="css/jqm-icon-pack-1.1.1-original.css" />


</head>
<!--<body>-->
<snap-common-scripts></snap-common-scripts>
<snap-navbar></snap-navbar>

<!-- Main hero unit for a primary marketing message or call to action -->
<body ng-controller="smartphoneAppCtrl">

<div id="homePage" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Accueil</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
			<div class="ng-hide:anyConnected()">
				<h2> Welcome on SNAP ! </h2>
				<br />
				<h3>Slide on the different panels to log on your favorite social network ! </h3>
			</div>
            <div class="msgContent well" ng-repeat="message in getAllMessages(20)">
                <div class="block">
					<img class="msgImgProfile"ng-src="{{getImageProfile(message)}}" />
					<img class="minIcon" ng-src="{{message.socialNetworkMinIcon}}" />                    
                </div>
                <div class="block">
                    <a href="#usrPage"><b class="userName">{{getNameProfile(message)}}</b></a>	
					<br />
                    <!-- Message content -->
                    {{getNFirstCharacters(message, 140)}} <br />
					<p><em>{{formatDate(message)}}</em></p>
					<p><a href="#msgDetails" data-role="button" data-theme="b" data-rel="dialog" data-transition="pop" data-inline="true" onClick="storeMessage({{message}}, '{{getImageProfile(message)}}')"> Plus...</a></p>
                </div>
                <!-- Oblige de mettre ca sinon ca fait un gros escalier pas beau -->
                <br class="clear"/>

            </div>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('homePage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('homePage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page Options --------------------->
<div id="optionsPage" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Options</h1>
    </div>
    <div data-role="content">
        <div data-role="collapsible">
            <h3>General settings</h3>
            <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
        </div>
        <br /><br />
        <div data-role="collapsible">
            <h3>Facebook settings</h3>
            <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
        </div>
        <br /><br />
        <div data-role="collapsible">
            <h3>Google+ settings</h3>
            <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
        </div>
        <br /><br />
        <div data-role="collapsible">
            <h3>Twitter settings</h3>
            <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
        </div>
        <br /><br />
        <div data-role="collapsible">
            <h3>Advanced settings</h3>
            <p>I'm the collapsible content. By default I'm closed, but you can click the header to open me.</p>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('optionsPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('optionsPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page envoi message --------------------->
<div id="msgPage" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Envoyer un message</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain" id="msgDiv">
            <textarea rows="3" name="textarea" id="textarea" ng-model="msgArea"  
					placeholder="Tapez ici votre message..." ng-Change="setCounter()" ng-model-instant></textarea>
			<br />
			

			<br /> <!-- Le bloc suivant doit revenir a la ligne !!!-->
			<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>Poster sur :  </legend>
                <input type="checkbox" name="fb" id="fbCheckBox" class="custom" />
                <label for="fbCheckBox">Facebook</label>

                <input type="checkbox" name="googleplus" id="googleplusCheckBox" class="custom" />
                <label for="googleplusCheckBox">Google+</label>

                <input type="checkbox" name="twitter" id="twitterCheckBox" class="custom" />
                <label for="twitterCheckBox">Twitter</label>
				</div>
				
			</fieldset>
			<div>
				<a href="#" data-role="button" data-theme="b" data-rel="back" data-mini="true" data-inline="true" ng-click="sendMsg()">Envoyer</a>
				<a href="#" data-role="button" data-theme="c" data-rel="back" data-mini="true" data-inline="true">Annuler</a>
			</div>
        </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("#")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("#")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page Recherche --------------------->
<div id="srchPage" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Recherche</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <label>Text</label>
            <input type="text" name="form.text" ng-model="yourName" placeholder="name" ng-model-instant>
            <h4>Hello {{yourName}} !</h4>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('srchPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('srchPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page Profil --------------------->
<div id="usrPage" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>Profil</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <label>Text</label>
            <input type="text" name="form.text" ng-model="yourName" placeholder="name" ng-model-instant>
            <!-- Image du profil -->
            <h4>Hello {{yourName}} !</h4>

        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('usrPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('usrPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Details du message -->
<div data-role="dialog" id="msgDetails">
    <div data-role="content" data-theme="d">
        <div class="msgContent well">

            <div class="block">
                <img class="imgProfile" src="../common/img/defaultProfile.png" />
            </div>
            <div class="block">
                <b class="usrName">  </b>
                <br />
                <!-- Message content -->

                <span class="msgText"> </span>

                <br />
				<a href="#msgPage" data-role="button" data-theme="b" data-mini="true" data-inline="true">Répondre</a>
                <a href="#" data-role="button" data-rel="back" data-theme="c" data-mini="true" data-inline="true">Fermer</a>
            </div>
            <!-- Oblige de mettre ca sinon ca fait un gros escalier pas beau -->
            <br class="clear"/>
        </div>
    </div>
</div>

<!--------------------- Page Facebook --------------------->
<div id="fbPage" data-role="page" ng-controller="smartphoneFbCtrl">
    <div data-role="header" data-position="fixed">
        <img  class="logo" ng-src="{{getIcon}}"/>
        <h1>Facebook</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
		<div class="ng-hide:socialNetwork.connected">
            <span id="login-{{socialNetwork.name}}">{{socialNetwork.connect()}}</span>
		</div>
            <div class="msgContent well"  ng-repeat="message in getLastMsg(socialNetwork)">

                <div class="block">
                    <img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
                </div>
                <div class="block">
                    <a href="#usrPage"><b class="userName">{{getNameProfile(message)}}</b></a>	 <br />
                    <!-- Message content -->
                    {{getNFirstCharacters(message, 140)}} <br />
					<p><em>{{formatDate(message)}}</em></p>
                    <p><a href="#msgDetails" data-role="button" data-theme="b" data-rel="dialog" data-transition="pop" data-inline="true" onClick="storeMessage({{message}}, '{{getImageProfile(message)}}')"> Plus...</a></p>

                </div>
                <!-- Oblige de mettre ca sinon ca fait un gros escalier pas beau -->
                <br class="clear"/>
            </div>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('fbPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('fbPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page Google Plus --------------------->
<div id="gpPage" data-role="page" ng-controller="smartphoneGpCtrl">

    <div data-role="header" data-position="fixed">
        <img class="logo" ng-src="{{getIcon}}" />
        <h1>Google+</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <span id="login-{{socialNetwork.name}}">{{socialNetwork.connect()}}</span>
            <div class="msgContent well" ng-repeat="message in getLastMsg(socialNetwork)" >

                <div class="block">
                    <img class="msgImgProfile"ng-src="{{getImageProfile(message)}}" />
                </div>
                <div class="block">
                    <a href="#usrPage"><b class="userName">{{getNameProfile(message)}}</b></a>	 <br />
                    <!-- Message content -->
                    {{getNFirstCharacters(message, 140)}} <br />
					<p><em>{{formatDate(message)}}</em></p>
                    <p><a href="#msgDetails" data-role="button" data-theme="b" data-rel="dialog" data-transition="pop" data-inline="true" onClick="storeMessage({{message}}, '{{getImageProfile(message)}}')"> Plus...</a></p>
                </div>
                <!-- Oblige de mettre ca sinon ca fait un gros escalier pas beau -->
                <br class="clear"/>
            </div>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('gpPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('gpPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>

<!--------------------- Page Twitter --------------------->
<div id="twPage" data-role="page" ng-controller="smartphoneTwCtrl">

    <div data-role="header" data-position="fixed">
        <img class="logo" ng-src="{{getIcon}}" />
        <h1>Twitter</h1>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <span id="login-{{socialNetwork.name}}">{{socialNetwork.connect()}}</span>
            <div class="msgContent well" ng-repeat="message in getLastMsg(socialNetwork)">

                <div class="block">
                    <img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
                </div>
                <div class="block">
                   <a href="#usrPage"> <b class="userName">{{getNameProfile(message)}}</b></a>	 <br />
                    <!-- Message content -->
                    <span class="msgContent">{{getNFirstCharacters(message, 140)}}</span>
					<p><em>{{formatDate(message)}}</em></p>
                    <p><a href="#msgDetails" data-role="button" data-theme="b" data-rel="dialog" data-transition="pop" data-inline="true" onClick="storeMessage({{message}}, '{{getImageProfile(message)}}')"> Plus...</a></p>
                </div>
                <!-- Oblige de mettre ca sinon ca fait un gros escalier pas beau -->
                <br class="clear"/>
            </div>
        </div>
    </div>
    <div data-role="footer" data-theme="c" data-position="fixed">
        <div data-role="navbar" ng-controller="smartphoneFooterCtrl">
            <ul>
                <li> <a href="#" data-icon="arrow-l" onClick=$.mobile.changePage("{{getPrevPage('twPage')}}")> </a></li>
                <li> <a href="#homePage" data-icon="home"> </a></li>
                <li> <a href="#msgPage" data-icon="email"> </a></li>
                <li> <a href="#srchPage" data-icon="search"> </a></li>
                <li> <a href="#" data-icon="arrow-r" onClick=$.mobile.changePage("{{getNextPage('twPage')}}")> </a></li>
            </ul>
        </div>
    </div>
</div>


</body>
</html>

