<!doctype html>
<html>
  <head>	
	<meta charset="utf-8">
	  <title>SNAP</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="AngularJS Project for School :)">
	  <meta name="author" content="SNAP Project">

      <!-- import jQuery
      <script src="/snapapp/common/lib/jquery/jquery-1.7.2.min.js"></script>

      <!-- import Js libs and files-->
      <script src="/snapapp/common/js/load.js"></script>
      <script data-main="js/load.js" src="/snapapp/common/lib/requirejs/require-jquery.js"></script>
      <!-- import Css libs and files-->
      <script src="/snapapp/common/js/util/importCSS.js"></script>
	  <!--<link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">-->
	  <link rel="stylesheet" href="./css/desktop.css">

  </head>
  <body onload="resize()" onresize="resize()">
    <snap-common-scripts></snap-common-scripts>
	<div class="mainPage" ng-controller="desktopAppCtrl">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">SNAP</a>
				<div class="checkBoxRSGroup" ng-repeat="socialNetwork in socialNetworks">
					<img class="userImgProfile" ng-src="{{socialNetwork.getUserProfile().authorImg}}" />
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav sidebar-nav-fixed">
					<form ng-submit="envoiMessage()">
						<textarea class="newMsg" id="newMsg" placeholder="Nouveau message" 
						onfocus="charCounter(this,{{cl.counterLimit}},'msgCounter','envoiMsg')" 
						onkeydown="charCounter(this,{{cl.counterLimit}},'msgCounter','envoiMsg')" 
						onkeyup="charCounter(this,{{cl.counterLimit}},'msgCounter','envoiMsg')" 
						onBlur="charCounter(this,{{cl.counterLimit}},'msgCounter','envoiMsg')"></textarea>
						
						<div class="checkBoxRSGroup" ng-repeat="socialNetwork in socialNetworks">
							<div class="chexboxRS" ng-controller="checkboxCtrl">
								<input type="checkbox" class="checkbox-{{check}} checkbox checkboxNMsg" id="check{{socialNetwork.name}}" name="check{{socialNetwork.name}}" title="{{socialNetwork.displayName}}" ng-model="check" ng-click="clickLimitChanger(check)">
								<label for="check{{socialNetwork.name}}"><img class="checkboxIconRS" ng-src="{{socialNetwork.icon}}" /></label>
								{{limitFixer()}}
							</div>
						</div>
						<h1><small><div id="msgCounter"></div></small></h1>
						<input class="btn btn-primary" type="submit" id="envoiMsg" value="Envoyer &raquo;" disabled="disabled" ng-click="sendMsg(socialNetworks)">
					</form>

                <input type="text" ng-model="search" class="search-query" placeholder="Rechercher">
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<div class="span9">
				<div class="row-fluid">
					<tabs class="fix-tabs">
						<pane class="pane" title="All">
							<div class="scrollable-pane" ng-controller="desktopAppCtrlAll">
								<div class="msgContainer well" ng-repeat="message in messages | filter:search">
									<!-- Image du profil -->
									<a data-toggle="modal" href="#profilAll">
										<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
									</a>
									<div class="cadreMsg">
										<!-- Nom du profil -->
										<a data-toggle="modal" href="#profilAll">
											<b class="fullname">{{getNameProfile(message)}}</b>
										</a>
									<div id="profilAll" class="modal hide fade">
										  <div class="modal-header">
											<h3>{{getNameProfile(message)}}</h3>
										  </div>
										  <div class="modal-body">
											<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
											</div>
											<div class="modal-footer">
												<a href="#" class="btn" data-dismiss="modal" >Close</a>										
											</div>
									</div>
										<div class="msgContent">
											{{cutMsg(message,"140")}}
										</div>
										<!-- MODAL -->
										<a data-toggle="modal" href="#detailsAll{{message.msgId}}">Détails</a>
											<div id="detailsAll{{message.msgId}}" class="modal hide fade">
											  <div class="modal-header">
												<h3>Détails du message</h3>
											  </div>
											  <div class="modal-body">
												<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
												<div class="cadreMsg">
												<b class="fullname">{{getNameProfile(message)}}</b>
													<div class="msgContent">
														{{message.message.msgContent}}
													</div>
												</div>
												</div>
												<div class="modal-footer">
													<a href="#" class="btn" data-dismiss="modal" >Close</a>										
												</div>
											</div>
										<!-- FINMODAL -->
										<!-- Afficher bouton retweet -->
										<!-- Afficher bouton j'aime -->
										<!-- Afficher bouton partager -->
										<br class="clear" />
									</div>
								</div>
							</div>
						</pane>
						<pane class="pane" ng-repeat="socialNetwork in socialNetworks" title="{{socialNetwork.displayName}}">
							<div class="scrollable-pane" ng-controller="desktopAppCtrlMsg">
								<div class="loginDiv">
									<span id="login-{{socialNetwork.name}}" class="loginButton">{{socialNetwork.connect()}}</span>
								</div>
								<div class="msgContainer well" ng-repeat="message in messages | filter:search">
									<!-- Image du profil -->
									<a data-toggle="modal" href="#profil{{socialNetwork.name}}">
										<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
									</a>
									<div class="cadreMsg">
									<!-- Nom du profil -->
									<a data-toggle="modal" href="#profil{{socialNetwork.name}}">
										<b class="fullname">{{getNameProfile(message)}}</b>
									</a>
									<div id="profil{{socialNetwork.name}}" class="modal hide fade">
										  <div class="modal-header">
											<h3>{{getNameProfile(message)}}</h3>
										  </div>
										  <div class="modal-body">
											<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
											</div>
											<div class="modal-footer">
												<a href="#" class="btn" data-dismiss="modal" >Close</a>										
											</div>
									</div>
									<div class="msgContent">
										{{cutMsg(message.msgContent,"140")}}
									</div>
									<!-- MODAL -->
									<a data-toggle="modal" href="#details{{socialNetwork.name}}{{message.msgId}}">Détails</a>
										<div id="details{{socialNetwork.name}}{{message.msgId}}" class="modal hide fade">
										  <div class="modal-header">
											<h3>Détails du message</h3>
										  </div>
										  <div class="modal-body">
											<img class="msgImgProfile" ng-src="{{getImageProfile(message)}}" />
											<div class="cadreMsg">
											<b class="fullname">{{getNameProfile(message)}}</b>
												<div class="msgContent">
													{{message.msgContent}}
												</div>
											</div>
											</div>
											<div class="modal-footer">
												<a href="#" class="btn" data-dismiss="modal" >Close</a>										
											</div>
										</div>
									<!-- FINMODAL -->
									<!-- Afficher bouton retweet -->
									<!-- Afficher bouton j'aime -->
									<!-- Afficher bouton partager -->
									<br class="clear" />
									</div>
								</div>
							</div>
						</pane>	
					</tabs>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>
