<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SNAP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AngularJS Project for School :)">
    <meta name="author" content="SNAP Project">

    <!-- import jQuery
   <script src="/snapapp/common/lib/jquery/jquery-1.7.2.min.js"></script>

   <!-- import Js libs and files-->
    <script src="/snapapp/common/js/load.js"></script>
    <script data-main="js/load.js" src="/snapapp/common/lib/requirejs/require-jquery.js"></script>
    <!-- import Css libs and files-->
    <script src="/snapapp/common/js/util/importCSS.js"></script>
</head>
<body>
<!--<snap-common-scripts></snap-common-scripts>
<snap-navbar></snap-navbar>
-->

<!-- Main hero unit for a primary marketing message or call to action -->
<div   ng-controller="tabletAppCtrl"  class="hero-unit" style='padding-right:10px;
	padding-left:10px ; text-align: center;'>
    <h2>SNAP Tablet</h2>
    <p>Whohohooo Snap Tablet Mode :)</p>
    <div id="fb-root"></div>


<!--     <p> Test Facebook connect<br/>
        <div class="fb-login-button" id="connexion">Login with Facebook</div><br/>
        <div id="userName" style="display: none"></div><br/>

        <button id="byebye" style="border-right-color: #000000;">Logout</button>
    </p>
 -->

    <input type="text" ng-model="search" class="search-query" placeholder="Search">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Picture</th>
            <th>icon</th>
            <th>citation</th>
            <th>connect</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="socialNetwork in socialNetworks | filter:search | orderBy:'name'">
            <td>{{socialNetwork.name}}</td>
            <td>{{socialNetwork.picture}}</td>
            <td><img src="{{socialNetwork.icon}}"></td>
            <td>{{socialNetwork.citation}}</td>
            <td>{{socialNetwork.name}} connect: </td>
            <td><span id="login-{{socialNetwork.name}}">{{socialNetwork.connect()}}</span></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
