/** all.css pour le test **/

/** Agencement en blocs **/

.block{
	float: none;
}

 .clear{
	clear: both;
}

/** Texte **/

.userName {


}

.msgContent {

}

/** Images **/

.msgImgProfile {
	margin-right: 10px;
	float: left;
	width:60px;
}

.minIcon {


}

.carouselDesktop{
	Width : 800px;
}

.carouselSmartphone{
	Width : 300px;
}